@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="text-center">
    <h1 class="display-4">Erişim Reddedildi</h1>
    <p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>