@{
    ViewData["Title"] = "Sayfa Bulunamadı";
}

<div class="text-center">
    <h1 class="display-4">404 - Sayfa Bulunamadı</h1>
    <p>Aradığınız sayfa bulunamadı.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>